include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('left')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Найти..." inputmode='search')
			button.btn.btn-primary
				+icon("search")

mixin page-head(header,subtitle,...items)
	.container
		+breadcrumb('Главная',...items)
		+b.page-head
			if subtitle
				span= subtitle
			h1= header

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin compareBtn(title)
	+b.compare-btn.btn.BUTTON
		span: +icon('compare')
		= title

mixin compareList(...items)
	+e.items-list.custom-scroll.UL
		for item in items
			+e.item(href="#")
				+e.img-wrap: +img(`img/catalog-item-${item.img}.jpg`)
				+e.item-title= item.title

mixin comparedDD(counter)
	+b.compare-block
		+e.btn.btn(href="#")
			+icon('compare')
			span Сравнение
			if counter
				+e.counter= counter
		+e.dropdown
			+compareList({img: '1', title: 'Дрель ударная аккумуляторная PXC TC-ID 18 Li-Solo'},{img: '2', title: 'Дрель аккумуляторная PXC TE-CD 18/2 Li-Solo'},{img: '3', title: 'Дрель-шуруповёрт аккумуляторнаяTC-CD 12 Li'},{img: '4', title: 'Дрель-шуруповерт аккумуляторнаяTE-CD 18 Li Brushless + Starter Kit 5.2'},{img: '1', title: 'Дрель ударная аккумуляторная PXC TC-ID 18 Li-Solo'})
			+e.dropdown-btn.btn.btn-primary(href="#") сравнить товары
